#flowers {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}

#flowers .flower {
    position: relative;
    overflow: hidden;
}

#flowers img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#flowers .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#flowers .flower:hover .overlay {
    opacity: 1;
}

#flowers .overlay-content {
    text-align: center;
}

#flowers .buy-btn {
    background-color: white;
    border: none;
    padding: 10px 20px;
    color:black;
    cursor: pointer;
    margin-top: 10px;
}

#flowers .buy-btn:hover {
    background-color: #c7c4c3;
}
